<div class="d-flex">
  <!-- MIDDLE CONTENT START -->
  <div class="middle_content">
    <!-- Main Content -->
    <div class="main_content white_card_background px-4 py-0 pb-4">
      <div class="row h-100 email_Functionality">
        <div class="col-md-4">
          <div class="secondary_card_background h-100">
              <app-list></app-list>
          </div>
        </div>
        <div class="col-md-8">
          <div class="secondary_card_background h-100 p-3">
              <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>